:root {
  --primary-color: #3c352f;
  --heading-font-family: "Playfair Display", serif;
}

img {
  width: 100px;
}

body {
  background-image: url("../images/background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 80px;
  font-family: var(--heading-font-family);
  text-shadow: 1px 1px #f3b37b;
}

h2 {
  color: var(--primary-color);
}

h3 {
  margin-top: 200px;
  color: var(--primary-color);
}

.navbar-color {
  color: var(--primary-color);
}

.my-instagram {
  font-weight: bold;
  font-size: large;
  margin-top: 3.5px;
}

.personal-info {
  margin-top: 180px;
  color: var(--primary-color);
}

.code-quote {
  text-align: left !important;
  margin-left: 486px;
  color: var(--primary-color);
}

.bold-info {
  font-weight: 800;
}

@media (max-width: 576px) {
  h1 {
    font-size: 50px;
    margin-top: 200px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    display: none;
  }

  img {
    display: none;
  }

  .navbar-color {
    color: #feecd3;
  }

  .code-quote {
    margin-left: 35px;
    font-size: 15px;
  }

  .born-info {
    display: none;
  }

  .experience {
    margin-top: 18px;
  }
}
