.background-image {
  background-image: url("../images/background3.jpg");
  background-size: cover;
}

.navbar-collapse {
  flex-direction: column-reverse;
}

.personal-info {
  position: relative;
  margin-top: -100px;
}
